@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --color-primary: #A900B7;
    --white: #fff;
    --black: #000;
    --red: #DC0101;
}
nav{
    width: 100%;
    height: max-content;
    backdrop-filter: blur(9px) saturate(200%);
    -webkit-backdrop-filter: blur(9px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.56);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 4%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* position: sticky; */
    top: 0;
    z-index: 10;
    
}
.humburger{
    display: none;
}
.humburger i{
    font-size: 1.5rem;
    font-weight: 600;
}
.logo_sec img{
    max-width: 100%;
    width: 80px;
}
.navLinks li{
display: inline-block;
margin-left: 10px;
}
.navLinks li a{
    color: var(--color-primary);
}
header{
    width: 100%;
    height: 100vh;
    background: url('./assets/IMG_2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.about{
    width: 100%;
    padding: 20px 4%;
}
.about h1{
    text-align: center;
    color: var(--red);
    font-weight: 600;
    padding-top: 2rem;
}
.about h1 span{
    color: var(--black);

}
.about_container{
    width: 100%;
    padding-top: 2rem;
}
.about_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.box{
    width: 100%;
    max-width: 350px;
    gap: 15px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box i{
    font-size: 4.3rem;
    transition: .5s ease;
}
.box i:hover{
    color: var(--red);
    transition: .5s ease;
}
.box h2{
    color: var(--red);
    font-size: 1rem;
}
@media (max-width: 679px) {
    .humburger{
        display: block;
    }
    .navLinks{
        position: absolute;
        background: white;
        top: 5rem;
        left: 0;
        width: 100%;
        display: none;
        transition: all 500ms ease;
    }
    .show_nav{
        display: block;
        transition: all 500ms ease;
    }
    .navLinks li{
        display: block;
        padding: 18px 0px;
    }
    .navLinks li a{
        color: var(--black);
        font-size: 1.2rem;
        transition: all 500ms ease;
    }
    .navLinks li a:hover{
        color: var(--red);
        padding-left: 5px;
        transition: all 500ms ease;
    }
}